<p>
    <a href="{% url 'learning_logs:index' %}" ><h1>Registro de aprendizagem</h1></a> -
    <a href="{% url 'learning_logs:topics' %}" >Topicos</a>
    {% if user.is_authenticated %}
        Hello, {{user.username}}
    {%else%}
        <a href="{% url 'accounts:register' %}">Registro</a>
        <a href="{% url 'accounts:login' %}">Entrar</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
    <hr/>
    <form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button name="submit">Sair</button>
    </form>
{% endif %}